* {
  border: 0;
  margin: 0;
  padding: 0;
}

.d-flex {
  display: flex;
}

.object-img {
  max-width: 250px;
}

.body {
  width: 100vw;
  height: 100vh;
}

.bg-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  background-color: black;
  opacity: 0.5;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.loading-image {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -250px;
}

.nav-bar {
  align-items: center;
  padding: 5px 20px;
  background-color: rgb(123, 80, 0);
}

.nav-logo{
  max-width: 150px;
}
